<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                番組を収益化しませんか?
            </h1>
        </div>
    </section>
    
    <section class="contact-wrapper">
        <div class="contact-container">
            <h2 class="contact-title">番組の収益化を始める</h2>
            <p>内容をお送りいただいた後、案件組成チームよりご連絡<br>を差し上げます。その後条件等の交渉に入り、正式に案件が組成されます</p>
            <div class="contact-form-wrapper">
            <% if @podcaster.errors.any? %>
                <div class="error-message-wrapper">
                    <div class="error-title">エラー</div>
                    <ul class="error-message-ul">
                        <% if @podcaster.errors.any? %>
                            <% @podcaster.errors.full_messages.each do |msg| %>
                                <li>
                                    <%= msg %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            <% end %>
                <div class="form-body">
                    <%= form_for(@podcaster,  url: {controller: 'podcaster', action: 'update'}, html: {method: "post"}) do |f|%>
                        <div class="form-items" style="width:auto">
                            <div class="form-name-wrapper form-container">
                                <%= f.label :name, "お名前" , :class => "form-item" %>
                                <%= f.text_field :name, :class => "form-text-area deal-text form-item" %>
                            </div>
                            <div class="form-podcast-name-wrapper form-container">
                                <%= f.label :podcast_name, "番組名" , :class => "form-item" %>
                                <%= f.text_field :podcast_name, :class => "form-text-area deal-text form-item" %>
                            </div>
                            <div class="form-email-wrapper form-container">
                                <%= f.label :email, "メール" , :class => "form-item" %>
                                <%= f.text_field :email, :class => "form-text-area form-item deal-text" %>
                            </div>
                            <div class="form-genre-wrapper form-container">
                                <%= f.label :genre, "ジャンル" , :class => "form-item" %>
                                <%= f.text_field :genre, :class => "form-text-area form-item deal-text" %>
                            </div>
                            <div class="form-description-wrapper form-container">
                                <%= f.label :description, "番組の説明", :class => "form-item" %>
                                <%= f.text_area :description, :class => "form-text-area form-item contact-form-content contact-form deal-text"  %>
                            </div>
                            <div class="form-url-wrapper form-container">
                                <%= f.label :url, "番組URL" , :class => "form-item" %>
                                <%= f.text_field :url, :class => "form-text-area form-item deal-text" %>
                            </div>
                            <div class="form-hosting-wrapper form-container">
                                <%= f.label :hosting, "使用中のホスティングサービス" , :class => "form-item"%>
                                <%= f.text_field :hosting, :class => "form-text-area form-item deal-text" %>
                            </div>
                            <div class="form-memo-wrapper form-container">
                                <%= f.label :memo, "番組の説明", :class => "form-item" %>
                                <%= f.text_area :memo, :class => "form-text-area form-item contact-form-content contact-form deal-text"  %>
                            </div>
                            <div class="form-btn-wrapper">
                                <input type="submit" value="送信" class="form-btn btn"> 
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    
 
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>