<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                番組を収益化しませんか?
            </h1>
        </div>
    </section>
    
    <section class="contact-wrapper">
        <div class="contact-container">
            <h2 class="contact-title">番組の収益化を始める</h2>
            <p>内容をお送りいただいた後、案件組成チームよりご連絡<br>を差し上げます。その後条件等の交渉に入り、正式に案件が組成されます</p>
            
            <% if @podcaster.errors.any? or @error_message.present? %>
                <div class="error-message-wrapper">
                    <div class="error-title">エラー</div>
                    <ul class="error-message-ul">
                        <% if @error_message %>
                            <li>
                                <%= @error_message %>
                            </li>
                        <% end %>
                        
                        <% if @podcaster.errors.any? %>
                            <% @podcaster.errors.full_messages.each do |msg| %>
                                <li>
                                    <%= msg %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            
            <div class="contact-form-wrapper">
                <div class="contact-form-wrapper">
                <div class="form-body">
                    <%= form_for(@podcaster,  url: {controller: 'podcaster', action: 'create'}, html: {method: "post"}) do |f| %>
                        <div class="form-items">
                            <div class="form-name-wrapper form-container">
                                <%= f.label :name, "お名前" , :class => "form-item" %>
                                <%= f.text_field :name, :class => "form-text-area form-item" %>
                            </div>
                            <div class="form-podcast-name-wrapper form-container">
                                <%= f.label :podcast_name, "番組名" , :class => "form-item" %>
                                <%= f.text_field :podcast_name, :class => "form-text-area form-item" %>
                            </div>
                            <div class="form-email-wrapper form-container">
                                <%= f.label :email, "メール" , :class => "form-item" %>
                                <%= f.text_field :email, :class => "form-text-area form-item" %>
                            </div>
                            <div class="form-password-wrapper form-container">
                                <%= f.label :password, "パスワード" , :class => "form-item" %>
                                <%= f.text_field :password, :class => "form-text-area form-item" %>
                            </div>
                            <div class="form-btn-wrapper">
                                <%= f.submit "保存", :class => "form-btn btn form-submit-item" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            </div>
        </div>
    </section>
    
 
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>