<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                LOCURAで番組の収益化を<br>
                
            </h1>
        </div>
        <div class="animation animation-item1">
            <%= image_tag 'mic_icon.png'%>
        </div>
        <div class="animation2 animation-item2" id="animation">
            <%= image_tag 'back_headphones.png'%>
        </div>
        <div class="animation2 animation-item3" id="animation">
            <%= image_tag 'back_speaker.png'%>
        </div>
        <div class="animation animation-item4" id="animation">
            <%= image_tag 'back_podcast.png'%>
        </div>
        <div class="animation3 animation-item5" id="animation">
            <%= image_tag 'back_tv.png'%>
        </div>
        <div class="animation animation-item6" id="animation">
            <%= image_tag 'back_dj.png'%>
        </div>
    </section>
    
    <section class="middle2-wrapper p-middle-w">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>番組の内容、放送頻度などをお教えください</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>営業チームが番組主様に合った広告主をご紹介<br>番組主様が承認した場合にのみ、取引成立となります<br></p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>番組内で宣伝を行い<br>広告費が支払われます</p>

            </div>
        </div>
        
    </section>
    
    <section class="faq-wrapper">
        <h2 class="faq-title">よくある質問</h2>
        <div class="faq-box">
            <p class="faq-q">Q 番組の権利はLOCURAに移ってしまうのですか？</p>
            <p class="faq-a">A いいえ、コンテンツの権利は一切移動しません。</p>
        </div>
        
        <div class="faq-box">
            <p class="faq-q">Q 番組の収益はどれくらいになりますか？</p>
            <p class="faq-a">A 広告費は、1000ダウンロード数あたりの単価を決めていただき、ダウンロード数に応じて計算されます</p>
        </div>
        
        <div class="faq-box">
            <p class="faq-q">Q Podcast以外の配信プラットフォームでも利用可能ですか？</p>
            <p class="faq-a">
                A はい、Spotifyなどの配信プラットフォームでも対応可能です。ご自身がお使いの配信プラットフォームが利用可能かどうか不明な場合は、
                お気軽にお問い合わせください。
            </p>
        </div>
        
        
    </section>
    
    <% if @current_user_pod %>
    <% elsif @current_user_ad %>
        <section class="cta-wrapper hidden">
            <div class="cta-container">
                <%= button_to '開始する', 'podcaster/new', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% else %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', 'podcaster/new', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% end %>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li class="smartphone-hidden">
                        <%= link_to '運営会社', 'http://locura.biz', target: "blank" %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to 'プライバシーポリシー', '/privacy_policy' %>
                    </li>
                    <li>
                        <%= link_to '利用規約', '/terms_of_use' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '番組主', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>