<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                番組を収益化し<br>
                番組を次のステージへ
            </h1>
        </div>
        <div class="animation" style="bottom:30%;right:14%">
            <%= image_tag 'mic_icon.png'%>
        </div>
        <div class="animation2" style="top:10%;right:22%">
            <%= image_tag 'back_headphones.png'%>
        </div>
        <div class="animation2" style="top:16%;left:12%">
            <%= image_tag 'back_speaker.png'%>
        </div>
        <div class="animation" style="top:30%;left:26%">
            <%= image_tag 'back_podcast.png'%>
        </div>
        <div class="animation2" style="top:50%;right:24%">
            <%= image_tag 'back_tv.png'%>
        </div>
        <div class="animation" style="top:50%;right:50%">
            <%= image_tag 'back_dj.png'%>
        </div>
    </section>
    
    <section class="middle2-wrapper p-middle-w">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです。</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>どういった広告枠をご提供いただけるかお教えください</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>案件チームが広告主様をご紹介いたします<br>番組ホストの承認後、取引成立となり、<br>番組内にて広告を流していただきます</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>取引終了後、広告費が支払われ<br>番組の収益化の成功となります</p>

            </div>
        </div>
        
    </section>
    
    <section class="faq-wrapper">
        <h2 class="faq-title">よくある質問</h2>
        <div class="faq-box">
            <p class="faq-q">Q コンテンツの権利は移ってしまうのですか？</p>
            <p class="faq-a">A コンテンツの権利は一切移動しません。LOCURAにて発生した取引の30%を手数料としていただき、それ以外は介入いたしません</p>
        </div>
        
        <div class="faq-box">
            <p class="faq-q">Q 番組の収益はどれくらいになりますか？</p>
            <p class="faq-a">A 収益は基本的にDL数あたりの広告単価できまります。計算はこちらから</p>
        </div>
        
        
    </section>
    
    <% if @current_user_pod %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', 'podcaster-register', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% elsif @current_user_ad %>
        <section class="cta-wrapper hidden">
            <div class="cta-container">
                <%= button_to '開始する', 'podcaster/new', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% else %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', 'podcaster/new', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% end %>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>