<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                CONTACT US
            </h1>
        </div>
    </section>
    
    <section class="contact-wrapper">
        <div class="contact-container">
            <h2 class="contact-title">問い合わせ</h2>
            <p>内容をお送りいただいた後、案件組成チームよりご連絡<br>を差し上げます。その後条件等の交渉に入り、正式に案件が組成されます</p>
            <div class="contact-form-wrapper">
                <% if @contact.errors.any? %>
                <div class="error-message-wrapper">
                    <div class="error-title">エラー</div>
                    <ul class="error-message-ul">
                        <% if @contact.errors.any? %>
                            <% @contact.errors.full_messages.each do |msg| %>
                                <li>
                                    <%= msg %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            <% end %>
                <div class="form-body contact-form-body">
                    <%= form_for(@contact, url: {controller: 'home', action: 'contact_send'}, html: {method: "post"}) do |f| %>
                        <div class="form-items form-contact-items">
                            <div class="form-name-wrapper form-container">
                                <%= f.label :name, "名前" , :class => "form-item" %>
                                <%= f.text_field :name, :class => "form-text-area form-item contact-form" %>
                            </div>
                            <div class="form-email-wrapper form-container">
                                <%= f.label :email, "メール", :class => "form-item" %>
                                <%= f.text_field :email, :class => "form-text-area form-item contact-form"  %>    
                            </div>
                            <div class="form-content-wrapper form-container">
                                <%= f.label :content, "内容", :class => "form-item" %>
                                <%= f.text_area :content, :class => "form-text-area form-item contact-form-content contact-form"  %>    
                            </div>
                            <div class="form-btn-wrapper pro-form-btn-wrapper">
                                <%= f.submit "保存", :class => "form-btn btn" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    
 
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>