<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                GREAT PODCASTERS,<br>
                MEET GREAT ADVERTISERS
            </h1>
        </div>
    </section>
    
    <section class="middle-wrapper">
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'mic_icon.png'%>
                </div>
                <h2>Podcaster</h2>
                <p>番組の収益化を支援しあなたの<br>クリエイティブさを最大化</p>
                <%= button_to '詳細を見る', '/podcasters', :method => 'get', :class => "info-button" %>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'people_icon.png'%>
                </div>
                <div>
                    <h2>広告主</h2>
                    <p>広告効果の高い音声広告を出稿し<br>成果を出しましょう</p>
                    <%= button_to '詳細を見る', '/advertisers', :method => 'get', :class => "info-button" %>
                </div>

            </div>
        </div>
    </section>
    
    <section class="middle2-wrapper">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです。</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
    </section>
    
    
    <% if @current_user_ad %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', '/advertiser-register', :method => 'get', :class => "info-button cta-button" %>
            </div>
        </section>
    <% elsif @current_user_pod %>
        <section class="cta-wrapper hidden">
            <div class="cta-container">
                <%= button_to '開始する', '/advertiser/new', :method => 'get', :class => "info-button cta-button" %>
            </div>
        </section>
    <% else %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', '/advertiser/new', :method => 'get', :class => "info-button cta-button" %>
            </div>
        </section>
    <% end %>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>