<main>
    
    <section class="top-wrapper">
        
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                Podcastと広告主の<br>
                マッチングをお助けします
            </h1>
        </div>
        
        <!--class="animation animation-item1" -->
        <div class="animation animation-item1">
            <%= image_tag 'mic_icon.png'%>
        </div>
        <div class="animation2 animation-item2" id="animation">
            <%= image_tag 'back_headphones.png'%>
        </div>
        <div class="animation2 animation-item3" id="animation">
            <%= image_tag 'back_speaker.png'%>
        </div>
        <div class="animation animation-item4" id="animation">
            <%= image_tag 'back_podcast.png'%>
        </div>
        <div class="animation3 animation-item5" id="animation">
            <%= image_tag 'back_tv.png'%>
        </div>
        <div class="animation animation-item6" id="animation">
            <%= image_tag 'back_dj.png'%>
        </div>
        
    </section>
    
    <section class="middle-wrapper">
        
        <div class="info-box">
            <div class="info-wrapper info-wrapper-pod">
                <div class="info-icon-wrapper">
                    <%= image_tag 'mic_icon.png'%>
                </div>
                <h2>番組主</h2>
                <p>番組の収益化をお考えですか?<br>LOCURAがお手伝いします</p>
                <%= button_to '詳細を見る', '/podcasters', :method => 'get', :class => "info-button btn" %>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper info-wrapper-ad">
                <div class="info-icon-wrapper">
                    <%= image_tag 'people_icon.png'%>
                </div>
                <div>
                    <h2>広告主</h2>
                    <p>効果の高い音声広告で<br>今までにない結果を</p>
                    <%= button_to '詳細を見る', '/advertisers', :method => 'get', :class => "info-button btn" %>
                </div>

            </div>
        </div>
    </section>
    
    <section class="middle2-wrapper">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料登録<br>必要な情報を入力するだけで登録完了</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>お互いの条件がマッチした<br>広告主様、番組主様をご提案いたします</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>条件が一致した後<br>番組主様によって広告が放送されます</p>

            </div>
        </div>
        
    </section>
    
    
    <% if @current_user_ad %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', '/advertiser-register', :method => 'get', :class => "info-button cta-button btn" %>
            </div>
        </section>
    <% elsif @current_user_pod %>
        <section class="cta-wrapper hidden">
            <div class="cta-container">
                <%= button_to '開始する', '/advertiser/new', :method => 'get', :class => "info-button cta-button btn" %>
            </div>
        </section>
    <% else %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', '/advertiser/new', :method => 'get', :class => "info-button cta-button btn" %>
            </div>
        </section>
    <% end %>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li class="smartphone-hidden">
                        <%= link_to '運営会社', 'http://locura.biz', target: "blank" %>
                    </li>
                    <li>
                        <%= link_to 'プライバシーポリシー', '/privacy_policy' %>
                    </li>
                    <li>
                        <%= link_to '利用規約', '/terms_of_use' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '番組主', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>
    
</main>