<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1 login-h1">
                ログイン
            </h1>
        </div>
        <div class="animation" style="bottom:36%;right:14%">
            <%= image_tag 'mic_icon.png'%>
        </div>
        <div class="animation2" style="top:10%;right:22%">
            <%= image_tag 'back_headphones.png'%>
        </div>
        <div class="animation2" style="top:16%;left:12%">
            <%= image_tag 'back_speaker.png'%>
        </div>
        <div class="animation" style="top:30%;left:29%">
            <%= image_tag 'back_podcast.png'%>
        </div>
        <div class="animation3" style="top:50%;right:29%">
            <%= image_tag 'back_tv.png'%>
        </div>
        <div class="animation" style="top:50%;right:50%">
            <%= image_tag 'back_dj.png'%>
        </div>
    </section>
    
    <section class="contact-wrapper">
        <div class="contact-container">
            <div class="contact-form-wrapper">
                <% if @error_messages.present? %>
                    <div class="error-message-wrapper">
                        <div class="error-title">エラー</div>
                        <ul class="error-message-ul">
                            <% if @error_messages.present? %>
                                <% @error_messages.each do |e|%>
                                    <li>
                                        <%= e %>
                                    </li>
                                <% end %>
                            <% end %>
                            
                            <% if @advertiser.present? %>
                                <% if @advertiser.errors.any? %>
                                    <% @advertiser.errors.full_messages.each do |msg| %>
                                        <li>
                                            <%= msg %>
                                        </li>
                                    <% end %>
                                <% end %>
                            <% end %>
                            
                            <% if @podcaster.present? %>
                                <% if @podcaster.errors.any? %>
                                    <% @podcaster.errors.full_messages.each do |msg| %>
                                        <li>
                                            <%= msg %>
                                        </li>
                                    <% end %>
                                <% end %>
                            <% end %>    
                        </ul>
                    </div>
                <% end %>
            </div>
            
            
            
                <div class="form-body login-form-body">
                    <%= form_tag("/login", method: :post) do %>
                        <div class="form-items login-form-items">
                            <div class="form-email-wrapper form-container">
                                <label for="email" accesskey="n" class="form-item">メール</label>
                                <input name="email" id="email" class="form-text-area form-item">
                            </div>
                            <div class="form-password-wrapper form-container">
                                <label for="password" accesskey="n" class="form-item">パスワード</label>
                                <input name="password" id="password" class="form-text-area form-item">
                            </div>
                            <div class="form-btn-wrapper">
                                <input type="submit" value="送信" class="form-btn btn form-submit-item"> 
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    
 
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to '運営会社', 'http://locura.biz', target: "blank" %>
                    </li>
                    <li>
                        <%= link_to 'プライバシーポリシー', '/privacy_policy' %>
                    </li>
                    <li>
                        <%= link_to '利用規約', '/terms_of_use' %>
                    </li>
                    <li>
                        <%= link_to 'お問い合わせ', '/' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>