

<main>
    
    <nav class="top-nav-bar">
        <ul class="top-nav-ul">
            <li class="top-nav-li a">プロフィール</li>
            <li class="top-nav-li">案件管理</li>
            <li class="top-nav-li">支払い管理</li>
        </ul>
    </nav>
    
    <section class="content-sec">
        <h2>プロフィール</h2>
        <%= @new_name %>is here
        <div class="content-wrapper">
            <div class="form-body profile-form-body">
                    <!--form_for(@book, url: {controller: index, action:index })-->
                    <%= form_for(@a, url: {controller: 'home', action: 'update'}) do |f| %>
                        <%= f.text_field :name %>
                        <%= f.text_field :company_name %>
                        <%= f.text_field :email %>
                        <%= f.submit "Send" %>
                    <% end %>
                    <%= form_tag("/update",  method: :post) do %>
                        <div class="form-items">
                            <div class="form-name-wrapper form-container">
                                <label for="name" accesskey="n" class="form-item">お名前</label>
                                <input name="name" id="name" class="form-text-area form-item"></input>
                            </div>
                            <div class="form-company-name-wrapper form-container">
                                <label for="company_name" accesskey="n" class="form-item">会社名</label>
                                <input name="company_name"  id="company_name" class="form-text-area form-item"></input>
                            </div>
                            <div class="form-email-wrapper form-container">
                                <label for="email" accesskey="n" class="form-item">メール</label>
                                <input name="email"  id="email" class="form-text-area form-item"></input>
                            </div>
                            <div class="form-btn-wrapper pro-form-btn-wrapper">
                                <input type="submit" value="保存" class="form-btn btn"></input>
                            </div>
                        </div>
                    <% end %>
                </div>
        </div>
        
        
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>