

<main>
    
    <nav class="top-nav-bar">
        <ul class="top-nav-ul">
            <li class="top-nav-li" id="prof">プロフィール</li>
            <li class="top-nav-li" id="deals">案件管理</li>
            <% if @current_user_pod %>
                <li class="top-nav-li" id="program">番組情報</li>
                <li class="top-nav-li" id="ep-schedule">番組スケジュール</li>
            <% end %>
            <li class="top-nav-li" id="payment">支払い管理</li>
        </ul>
    </nav>
    
    <section class="content-sec">
        <div class="content-container content-profile">
            <h2 >プロフィール</h2>
            <div class="content-wrapper">
                <div class="form-body profile-form-body">
                    <% if @current_user_ad %>
                        <%= form_for(@advertiser, url: {controller: 'home', action: 'edit_profile'}, html: {method: "post"}) do |f| %>
                            <div class="form-items">
                                <div class="form-name-wrapper form-container">
                                    <%= f.label :name, "名前" , :class => "form-item" %>
                                    <%= f.text_field :name, :class => "form-text-area form-item" %>
                                </div>
                                <div class="form-company-name-wrapper form-container">
                                    <%= f.label :company_name, "会社名", :class => "form-item" %>
                                    <%= f.text_field :company_name , :class => "form-text-area form-item" %>    
                                </div>
                                <div class="form-email-wrapper form-container">
                                    <%= f.label :email, "メール", :class => "form-item" %>
                                    <%= f.text_field :email, :class => "form-text-area form-item"  %>    
                                </div>
                                <div class="form-btn-wrapper pro-form-btn-wrapper">
                                    <ul class="form-btn-ul">
                                        <li><%= link_to "削除する", "/delete_account", method: :delete, data: {confirm: "削除をするとお客様のデータは完全に消えてしまいます。本当に削除しますか？"}, :class => "delete-btn form-submit-item"  %></li>
                                        <li><%= f.submit "保存", :class => "form-btn btn form-submit-item", data: {confirm: "この内容で保存しますか？"} %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>
                    <% elsif @current_user_pod %>
                        <%= form_for(@podcaster, url: {controller: 'home', action: 'edit_profile'}, html: {method: "post"}) do |f| %>
                            <div class="form-items">
                                <div class="form-name-wrapper form-container">
                                    <%= f.label :name, "名前" , :class => "form-item" %>
                                    <%= f.text_field :name, :class => "form-text-area form-item" %>
                                </div>
                                <div class="form-podcast-name-wrapper form-container">
                                    <%= f.label :podcast_name, "番組名", :class => "form-item" %>
                                    <%= f.text_field :podcast_name , :class => "form-text-area form-item" %>    
                                </div>
                                <div class="form-email-wrapper form-container">
                                    <%= f.label :email, "メール", :class => "form-item" %>
                                    <%= f.text_field :email, :class => "form-text-area form-item"  %>    
                                </div>
                                <div class="form-btn-wrapper pro-form-btn-wrapper">
                                    <ul class="form-btn-ul">
                                        <li><%= link_to "削除する", "/delete_account", method: :delete, data: {confirm: "削除をするとお客様のデータは完全に消えてしまいます。本当に削除しますか？"}, :class => "delete-btn form-submit-item"  %></li>
                                        <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>
                    <% end%>
                </div>
            </div>
        </div>
        
        <% if @current_user_pod %>
            <div class="content-container content-deals">
                <h2>案件管理</h2>
                <div class="content-wrapper">
                    <table class="deal-management-table">
                            <tr class="deal-titles">
                                <td class="deal-tds">キャンペーン名</td>
                                <td class="deal-tds">広告主名</td>
                                <td class="deal-tds">予想DL数</td>
                                <td class="deal-tds">DL数</td>
                                <td class="deal-tds">費用</td>
                                <td class="deal-tds">承諾/見送る</td>
                            </tr>
                            
                            <% if @deals.present? %>
                                <% @deals.each do |d|%>
                                    <% if not d.status == "denied" %>
                                        <tr class="deal-tr">
                                            <td class="deal-tds"><%= d.name %></td>
                                            <td class="deal-tds"><%= Advertiser.find_by(id: d.advertiser_id).company_name %></td>
                                            <td class="deal-tds"><%= d.forecasted_dl%></td>
                                            <td class="deal-tds"><%= d.dl %></td>
                                            <td class="deal-tds"><%= d.cost %></td>
                                            <td class="deal-tds">
                                                <ul class="manage-btn-wrapper">
                                                    <li class="manage-btn accept-btn" style="margin-right:.7em"><%= link_to '✔', controller: "home", action: "manage_deal_pod",manage_id: 0, deal_id: d.id %></li>
                                                    <li class="manage-btn deny-btn"><%= link_to '✖', controller: "home", action: "manage_deal_pod",manage_id: 1, deal_id: d.id %></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            <% end %>
                    </table>
                </div>
            </div>
        <% elsif @current_user_ad %>
            <div class="content-container content-deals">
                <h2>案件管理</h2>
                <div class="content-wrapper">
                    <table class="deal-management-table">
                            <tr class="deal-titles">
                                <td class="deal-tds">キャンペーン名</td>
                                <td class="deal-tds">番組名</td>
                                <td class="deal-tds">予想DL数</td>
                                <td class="deal-tds">DL数</td>
                                <td class="deal-tds">費用</td>
                            </tr>
                            
                            <% if @deals.present? %>
                                <% @deals.each do |d|%>
                                    <% if not d.status == "denied" %>
                                        <tr class="deal-tr">
                                            <td class="deal-tds"><%= d.name %></td>
                                            <td class="deal-tds"><%= Podcaster.find_by(id: d.podcaster_id).podcast_name %></td>
                                            <td class="deal-tds"><%= d.forecasted_dl%></td>
                                            <td class="deal-tds"><%= d.dl %></td>
                                            <td class="deal-tds"><%= d.cost %></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            <% end %>
                    </table>
                </div>
            </div>
        <% end %>
        
        <% if @current_user_pod %>
            <div class="content-container content-program">
                <h2>番組情報</h2>
                <div class="content-wrapper">
                    <div class="form-body profile-form-body">
                        <% if @program.present? %>
                            <%= form_for(@program, url: {controller: 'home', action: 'edit_program_info'}, html: {method: "post"}) do |f| %>
                                <div class="form-items">
                                    
                                    <div class="program-info-wrapper">
                                        <h3>基本情報</h3>
                                        <div class="form-pic-wrapper form-container">
                                            <% if @program.prof_file %>
                                                <%= image_tag @program.prof_file %>
                                            <% else %>
                                                <%= f.label :prof_file, "番組の画像" , :class => "form-item" %>
                                                <%= f.file_field :prof_file, :class => "form-text-area form-item" %>
                                            <% end %>
                                        </div>
                                        <div class="form-name-wrapper form-container">
                                            <%= f.label :name, "番組名" , :class => "form-item" %>
                                            <%= f.text_field :name, :class => "form-text-area form-item" %>
                                        </div>
                                        <div class="form-genre-wrapper form-container">
                                            <%= f.label :genre, "ジャンル" , :class => "form-item" %>
                                            <%= f.text_field :genre, :class => "form-text-area form-item" %>
                                        </div>
                                        <div class="form-dl-wrapper form-container">
                                            <%= f.label :dl, "平均ダウンロード数" , :class => "form-item" %>
                                            <%= f.text_field :dl, :class => "form-text-area form-item" %>
                                        </div>
                                        
                                        <div class="form-hosting-wrapper form-container">
                                            <%= f.label :hosting, "ご利用中のホスティング" , :class => "form-item" %>
                                            <%= f.text_field :hosting, :class => "form-text-area form-item" %>
                                        </div>
                                        <div class="form-date-wrapper form-container">
                                            <%= f.label :start_date, "番組開始日" , :class => "form-item" %>
                                            <%= f.text_field :start_date, :class => "form-text-area form-item" %>
                                        </div>
                                        <div class="form-program_url-wrapper form-container">
                                            <%= f.label :program_url, "番組のURL" , :class => "form-item" %>
                                            <%= f.text_field :program_url, :class => "form-text-area form-item" %>
                                        </div>
                                        <div class="form-hp_url-wrapper form-container">
                                            <%= f.label :hp_url, "HPのURL" , :class => "form-item" %>
                                            <%= f.text_field :hp_url, :class => "form-text-area form-item" %>
                                        </div>
                                    </div>
    
                                    <div class="cpm-wrapper">
                                        <h3>CPM</h3>
                                        <table class="cpm-table">
                                            <tr class="cpm-tr">
                                                <td class="cpm-td-description">30秒 Pre-roll</td>
                                                <td class="cpm-td-num">
                                                    <%= f.text_field :cpm_30_pre, :class => "form-text-area form-item" %>
                                                </td>
                                            </tr>
                                            <tr class="cpm-tr">
                                                <td class="cpm-td-description">60秒 Pre-roll</td>
                                                <td class="cpm-td-num">
                                                    <%= f.text_field :cpm_60_pre, :class => "form-text-area form-item" %>
                                                </td>
                                            </tr>
                                            
                                            <tr class="cpm-tr">
                                                <td class="cpm-td-description">30秒 Mid-roll</td>
                                                <td class="cpm-td-num">
                                                    <%= f.text_field :cpm_30_mid, :class => "form-text-area form-item" %>
                                                </td>
                                            </tr>
                                            
                                            <tr class="cpm-tr">
                                                <td class="cpm-td-description">30秒 Mid-roll</td>
                                                <td class="cpm-td-num">
                                                    <%= f.text_field :cpm_60_mid, :class => "form-text-area form-item" %>
                                                </td>
                                            </tr>
                                            
                                            <tr class="cpm-tr">
                                                <td class="cpm-td-description">30秒 Post-roll</td>
                                                <td class="cpm-td-num">
                                                    <%= f.text_field :cpm_30_post, :class => "form-text-area form-item" %>
                                                </td>
                                            </tr>
                                            
                                            <tr class="cpm-tr">
                                                <td class="cpm-td-description">60秒 Post-roll</td>
                                                <td class="cpm-td-num">
                                                    <%= f.text_field :cpm_60_post, :class => "form-text-area form-item" %>
                                                </td>
                                            </tr>
                                            
                                            
                                            
                                            <tr class="cpm-tr">
                                                <td class="cpm-td"></td>
                                            </tr>
                                            <tr class="cpm-tr">
                                                <td class="cpm-td"></td>
                                            </tr>
                                            <tr class="cpm-tr">
                                                <td class="cpm-td"></td>
                                            </tr>
                                            
                                            <tr class="cpm-tr">
                                                <td class="cpm-td"></td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                    
                                    
                                    <div class="form-btn-wrapper pro-form-btn-wrapper">
                                        <ul class="form-btn-ul">
                                            <li><%= link_to "削除する", "/delete_account", method: :delete, data: {confirm: "削除をするとお客様のデータは完全に消えてしまいます。本当に削除しますか？"}, :class => "delete-btn form-submit-item"  %></li>
                                            <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                        </ul>
                                    </div>
                                </div>
                            <% end %>
                            <%= form_for(@file, url: {controller: 'home', action: 'file_upload'}, html: {method: "post"}) do |f| %>
                                <%= f.file_field :file, :class => 'form-control' %>
                                <%= f.submit "upload" %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <div class="content-container content-ep-schedule">
                <h2>番組スケジュール管理</h2>
                <div class="content-wrapper content-schedule-wrapper">
                    <% if @episodes.present? %>
                        <div class="episode-schedule-wrapper">
                            <table class="episode-schedule-table">
                                <tr class="ep-table-titles">
                                    <td class="date-td">日程</td>
                                    <td class="title-td">タイトル</td>
                                    <td class="num-td">pre-roll</td>
                                    <td class="num-td">mid-roll</td>
                                    <td class="num-td">post-roll</td>
                                </tr>
                                <% @episodes.each do |ep|%>
                                    <tr class="ep-table-items">
                                        <td class="ep-id"style="display:none"><%= ep.id %></td>
                                        <td class="ep-date date-td"><%= ep.date %></td>
                                        <td class="ep-title title-td"><%= ep.name %></td>
                                        <td class="ep-pre num-td num-td-val"><%= ep.pre_roll %></td>
                                        <td class="ep-mid num-td num-td-val"><%= ep.mid_roll %></td>
                                        <td class="ep-post num-td num-td-val"><%= ep.post_roll %></td>
                                        <td class="edit-episode "><span>編集する</span></td>
                                    </tr>
                                <% end %>
                            </table>
                            <div id="ep-add-new">エピソードを追加</div>
                        </div>
                        
                    <% else %>
                        <div class="episode-schedule-wrapper">
                            <table class="episode-schedule-table">
                                <tr class="ep-table-titles">
                                    <td class="date-td">日程</td>
                                    <td class="title-td">タイトル</td>
                                    <td class="num-td">pre-roll</td>
                                    <td class="num-td">mid-roll</td>
                                    <td class="num-td">post-roll</td>
                                </tr>
                            </table>
                            <div id="ep-add-new">エピソードを追加</div>
                        </div>
                    <% end %>
                </div>
                
                <div class="ep-edit-modal">
                    <div class="ep-edit-modal-bg"></div>
                    <div class="ep-edit-content">
                        <div class="edit-modal-table">
                            
                            <div class="ep-add-area">
                                <%= form_for(@episode, url: {controller: 'home', action: 'add_episode'}, html: {method: "post"}) do |f| %>
                                    <div class="long-field">
                                        <%= f.label :date, "日時" , :class => "" %>
                                        <%= f.text_field :date, :class => "ep-form-text-area ep-date-area" %>
                                    </div>
                                    <div class="long-field">
                                        <%= f.label :name, "タイトル" , :class => "" %>
                                        <%= f.text_field :name, :class => "ep-form-text-area ep-title-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :pre_roll, "pre-roll" , :class => "" %>
                                        <%= f.text_field :pre_roll, :class => "ep-form-text-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :mid_roll, "mid-roll" , :class => "" %>
                                        <%= f.text_field :mid_roll, :class => "ep-form-text-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :post_roll, "post-roll" , :class => "" %>
                                        <%= f.text_field :post_roll, :class => "ep-form-text-area" %>
                                    </div>
                                    <div>
                                        <%= f.submit "保存", :class => "form-btn btn form-submit-item" %>
                                    </div>
                                <% end %>
                            </div>
                            
                            <div class="ep-edit-area">
                                <%= form_for(@episode, url: {controller: 'home', action: 'edit_episode'}, html: {method: "post"}) do |f| %>
                                    <input name="id" class="ep-id-edit" style="display:none"></input>
                                    <div class="long-field">
                                        <%= f.label :date, "日時" , :class => "" %>
                                        <%= f.text_field :date, :class => "ep-form-text-area edit-ep-date-area"%>
                                    </div>
                                    <div class="long-field">
                                        <%= f.label :name, "タイトル" , :class => "" %>
                                        <%= f.text_field :name, :class => "ep-form-text-area edit-ep-title-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :pre_roll, "pre-roll" , :class => "" %>
                                        <%= f.text_field :pre_roll, :class => "ep-form-text-area edit-ep-pre-num-area ep-num-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :mid_roll, "mid-roll" , :class => "" %>
                                        <%= f.text_field :mid_roll, :class => "ep-form-text-area edit-ep-mid-num-area ep-num-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :post_roll, "post-roll" , :class => "" %>
                                        <%= f.text_field :post_roll, :class => "ep-form-text-area edit-ep-post-num-area ep-num-area" %>
                                    </div>
                                    <div>
                                        <%= f.submit "保存", :class => "form-btn btn form-submit-item ep-edit-submit" %>
                                        <%= link_to "削除する", "/delete_episode", method: :delete, data: {confirm: "削除します。よろしいですか？"},
                                        :class => "delete-btn form-submit-item ep-edit-delete ep-id-edit"%>
                                    </div>
                                <% end %>
                            </div>
                            
                        </div>
                        <div id="modal-close">閉じる</div>
                    </div>
                </div>
                
            </div>
        
        
        <% end %>
        
        
        <div class="content-container content-payment">
            <h2>支払い管理</h2>
            <div class="content-wrapper content-payment-wrapper">
                coming soon...
            </div>
        </div>
        
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
        
    </footer>

</main>