

<main>
    
    <nav class="top-nav-bar">
        <ul class="top-nav-ul">
            <li class="top-nav-li" id="prof">プロフィール</li>
            <li class="top-nav-li" id="deals">キャンペーン管理</li>
            <% if @current_user_pod %>
                <li class="top-nav-li" id="program">番組情報</li>
                <li class="top-nav-li" id="ep-schedule">番組スケジュール</li>
            <% end %>
        </ul>
    </nav>
    
    <section class="content-sec">
        <div class="content-container content-profile">
            <h2 >プロフィール</h2>
            <div class="content-wrapper">
                <div class="form-body profile-form-body">
                    <% if @current_user_ad %>
                        <%= form_for(@advertiser, url: {controller: 'home', action: 'edit_profile'}, html: {method: "post"}) do |f| %>
                            <div class="form-items">
                                <div class="form-name-wrapper form-container">
                                    <%= f.label :name, "名前" , :class => "form-item" %>
                                    <%= f.text_field :name, :class => "form-text-area form-item" %>
                                </div>
                                <div class="form-company-name-wrapper form-container">
                                    <%= f.label :company_name, "会社名", :class => "form-item" %>
                                    <%= f.text_field :company_name , :class => "form-text-area form-item" %>    
                                </div>
                                <div class="form-email-wrapper form-container">
                                    <%= f.label :email, "メール", :class => "form-item" %>
                                    <%= f.text_field :email, :class => "form-text-area form-item"  %>    
                                </div>
                                <div class="form-btn-wrapper pro-form-btn-wrapper">
                                    <ul class="form-btn-ul">
                                        <li><%= link_to "削除する", "/delete_account", method: :delete, data: {confirm: "削除をするとお客様のデータは完全に消えてしまいます。本当に削除しますか？"}, :class => "delete-btn form-submit-item"  %></li>
                                        <li><%= f.submit "保存", :class => "form-btn btn form-submit-item", data: {confirm: "この内容で保存しますか？"} %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>
                        <div class="pass-edit-action">
                            <a>パスワードを変更する</a>
                        </div>
                        <div class="edit-password">
                            <div class="pass-edit-modal-bg"></div>
                            <div class="pass-edit-content">
                                <div>
                                    <%= form_for(@advertiser, url: {controller: 'home', action: 'edit_profile'}, html: {method: "post"}) do |f| %>
                                        <div class="form-items password-form">
                                            <div class="form-name-wrapper form-container form-pass-container">
                                                <%= f.label :password, "パスワード" , :class => "form-item" %>
                                                <%= f.text_field :password, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-email-wrapper form-container form-pass-container">
                                                <%= f.label :password_confirmation, "パスワード(再確認)", :class => "form-item" %>
                                                <%= f.text_field :password_confirmation, :class => "form-text-area form-item"  %>    
                                            </div>
                                            <div class="form-btn-wrapper pro-form-btn-wrapper">
                                                <ul class="form-btn-ul">
                                                    <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                                </ul>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                                <div id="pass-modal-close">閉じる</div>
                            </div>
                        </div>
                    <% elsif @current_user_pod %>
                        <%= form_for(@podcaster, url: {controller: 'home', action: 'edit_profile'}, html: {method: "post"}) do |f| %>
                            <div class="form-items">
                                <div class="form-name-wrapper form-container">
                                    <%= f.label :name, "名前" , :class => "form-item" %>
                                    <%= f.text_field :name, :class => "form-text-area form-item" %>
                                </div>
                                <div class="form-email-wrapper form-container">
                                    <%= f.label :email, "メール", :class => "form-item" %>
                                    <%= f.text_field :email, :class => "form-text-area form-item"  %>    
                                </div>
                                <div class="form-btn-wrapper pro-form-btn-wrapper">
                                    <ul class="form-btn-ul">
                                        <li><%= link_to "削除する", "/delete_account", method: :delete, data: {confirm: "削除をするとお客様のデータは完全に消えてしまいます。本当に削除しますか？"}, :class => "delete-btn form-submit-item"  %></li>
                                        <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>
                        <div class="pass-edit-action">
                            <a>パスワードを変更する</a>
                        </div>
                        <div class="edit-password">
                            <div class="pass-edit-modal-bg"></div>
                            <div class="pass-edit-content">
                                <div>
                                    <%= form_for(@podcaster, url: {controller: 'home', action: 'edit_profile'}, html: {method: "post"}) do |f| %>
                                        <div class="form-items password-form">
                                            <div class="form-name-wrapper form-container form-pass-container">
                                                <%= f.label :password, "パスワード" , :class => "form-item" %>
                                                <%= f.text_field :password, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-email-wrapper form-container form-pass-container">
                                                <%= f.label :password_confirmation, "パスワード(再確認)", :class => "form-item" %>
                                                <%= f.text_field :password_confirmation, :class => "form-text-area form-item"  %>    
                                            </div>
                                            <div class="form-btn-wrapper pro-form-btn-wrapper">
                                                <ul class="form-btn-ul">
                                                    <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                                </ul>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                                <div id="pass-modal-close">閉じる</div>
                            </div>
                        </div>
                    <% end%>
                </div>
            </div>
        </div>
        
        <% if @current_user_pod %>
            <div class="content-container content-deals">
                <h2>キャンペーン管理</h2>
                <p class="smartphone-not-ready">現在スマートフォン対応が出来ていません。お手数ですがパソコンでアクセスし直してください。</p>
                <div class="content-wrapper content-deals-wrapper">
                    <table class="deal-management-table">
                            <tr class="deal-titles">
                                <td class="deal-tds">キャンペーン名</td>
                                <td class="deal-tds">広告主名</td>
                                <td class="deal-tds">予想DL数</td>
                                <td class="deal-tds">DL数</td>
                                <td class="deal-tds">費用</td>
                                <td class="deal-tds">承諾/見送る</td>
                            </tr>
                            
                            <% if @deals.present? %>
                                <% if @deals_pending.present? %>
                                    <% @deals_pending.each do |d|%>
                                        <% if not d.status == "denied" %>
                                            <tr class="deal-tr">
                                                <td class="deal-tds deal-id"><%= d.id %></td>
                                                <td class="deal-tds deal-name"><%= d.name %></td>
                                                <td class="deal-tds deal deal-advertiser"><%= Advertiser.find_by(id: d.advertiser_id).company_name %></td>
                                                <td class="deal-tds deal-forecasted-dl"><%= d.forecasted_dl%></td>
                                                <td class="deal-tds"><%= d.dl %></td>
                                                <td class="deal-tds deal-cost"><%= d.cost %></td>
                                                <td class="deal-tds">
                                                    <ul class="manage-btn-wrapper">
                                                        <li class="manage-btn accept-btn" style="margin-right:.7em"><%= link_to '✔', manage_deal_path(manage_id: 0, deal_id: d.id ),data: {confirm:"一度取引を承諾すると、キャンセルは出来なくなります。必ず取引の条件等の詳細を記載した案件詳細ページをご確認のうえ承諾をしてください。案件詳細ページは、キャンペーン名をクリックすると表示されます。"}%></li>
                                                        <li class="manage-btn deny-btn"><%= link_to '✖', manage_deal_path(manage_id: 1, deal_id: d.id ),data: {confirm:"案件を見送り、広告主様に通知が届きますと取り消しはできません。よろしいですか？"}%></li>
                                                    </ul>
                                                </td>
                                                
                                                
                                                <% if d.description.present?%>
                                                    <td class="deal-tds deal-description deal-hidden"><%= d.description %></td>
                                                <% end %>
                                                <% if Advertiser.find_by(id: d.advertiser_id).biz_description.present? %>
                                                    <td class="deal-tds deal-biz-description deal-hidden"><%= Advertiser.find_by(id: d.advertiser_id).biz_description %></td>
                                                <% end %>
                                                
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if @deals_progress.present? %>
                                    <% @deals_progress.each do |d|%>
                                        <% if not d.status == "denied" %>
                                            <tr class="deal-tr">
                                                <td class="deal-tds deal-id"><%= d.id %></td>
                                                <td class="deal-tds deal-name"><%= d.name %></td>
                                                <td class="deal-tds deal-advertiser"><%= Advertiser.find_by(id: d.advertiser_id).company_name %></td>
                                                <td class="deal-tds deal-forecasted-dl"><%= d.forecasted_dl%></td>
                                                <td class="deal-tds"><%= d.dl %></td>
                                                <td class="deal-tds deal-cost"><%= d.cost %></td>
                                                
                                                
                                                <% if d.description.present?%>
                                                    <td class="deal-tds deal-description deal-hidden"><%= d.description %></td>
                                                <% end %>
                                                <% if Advertiser.find_by(id: d.advertiser_id).biz_description.present? %>
                                                    <td class="deal-tds deal-biz-description deal-hidden"><%= Advertiser.find_by(id: d.advertiser_id).biz_description %></td>
                                                <% end %>
                                                
                                                <td class="deal-tds">承認済み</td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if @deals_canceled.present? %>
                                    <% @deals_canceled.each do |d|%>
                                        <% if not d.status == "denied" %>
                                            <tr class="deal-tr">
                                                <td class="deal-tds deal-id"><%= d.id %></td>
                                                <td class="deal-tds deal-name"><%= d.name %></td>
                                                <td class="deal-tds deal-advertiser"><%= Advertiser.find_by(id: d.advertiser_id).company_name %></td>
                                                <td class="deal-tds deal-forecasted-dl"><%= d.forecasted_dl%></td>
                                                <td class="deal-tds"><%= d.dl %></td>
                                                <td class="deal-tds deal-cost"><%= d.cost %></td>
                                                
                                                <% if d.description.present?%>
                                                    <td class="deal-tds deal-description deal-hidden"><%= d.description %></td>
                                                <% end %>
                                                <% if Advertiser.find_by(id: d.advertiser_id).biz_description.present? %>
                                                    <td class="deal-tds deal-biz-description deal-hidden"><%= Advertiser.find_by(id: d.advertiser_id).biz_description %></td>
                                                <% end %>
                                                
                                                <td class="deal-tds">キャンセル済み</td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                    </table>
                </div>
                
                

                <div class="deal-detail-modal">
                    <div class="deal-modal-bg"></div>
                    <div class="deal-content">
                        <div class="deal-id-wrapper"></div>
                        
                        <div class="deal-advertiser-wrapper">
                            <h3>会社名</h3>
                            <p></p>
                        </div>
                        <div class="deal-biz-description-wrapper">
                            <h3>事業内容</h3>
                            <p></p>
                        </div>
                        <div class="deal-name-wrapper">
                            <h3>キャンペーン名</h3>
                            <p></p>
                        </div>
                        <div class="deal-description-wrapper">
                            <h3>キャンペーンの説明</h3>
                            <p></p>
                        </div>
                        <div class="deal-forecasted-dl-wrapper">
                            <h3>予想ダウンロード数</h3>
                            <p></p>
                        </div>
                        <div class="deal-cost-wrapper">
                            <h3>広告費</h3>
                            <p></p>
                        </div>
                        
                        
                        <div id="deal-modal-close">閉じる</div>
                    </div>
                </div>
                
                
                
                
                
            </div>
        <% elsif @current_user_ad %>
            <div class="content-container content-deals">
                <h2>キャンペーン管理</h2>
                <p class="smartphone-not-ready">現在スマートフォン対応が出来ていません。お手数ですがパソコンでアクセスし直してください。</p>
                <div class="content-wrapper content-deals-wrapper">
                    <table class="deal-management-table">
                            <tr class="deal-titles">
                                <td class="deal-tds">キャンペーン名</td>
                                <td class="deal-tds">番組名</td>
                                <td class="deal-tds">予想DL数</td>
                                <td class="deal-tds">DL数</td>
                                <td class="deal-tds">費用</td>
                                <td class="deal-tds">状態</td>
                                <td class="cancel-deal"></td>
                            </tr>
                            
                            <% if @deals.present? %>
                                <% if @deals_pending.present? %>
                                    <% @deals_pending.each do |d|%>
                                        <% if not d.status == "denied" %>
                                            <tr class="deal-tr">
                                                <td class="deal-tds"><%= d.name %></td>
                                                <td class="deal-tds"><%= Program.find_by(host_id: d.podcaster_id).name %></td>
                                                <td class="deal-tds"><%= d.forecasted_dl%></td>
                                                <td class="deal-tds"><%= d.dl %></td>
                                                <td class="deal-tds"><%= d.cost %></td>
                                                <td class="deal-tds">承認待ち</td>
                                                <td class="cancel-deal cancel-deal-btn"><%= link_to 'キャンセル', manage_deal_path(manage_id:2, deal_id: d.id ),data: {confirm:"この取引の申請を取りやめます。よろしいですか?"}%></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if @deals_progress.present? %>
                                    <% @deals_progress.each do |d|%>
                                        <% if not d.status == "denied" %>
                                            <tr class="deal-tr">
                                                <td class="deal-tds"><%= d.name %></td>
                                                <td class="deal-tds"><%= Program.find_by(host_id: d.podcaster_id).name %></td>
                                                <td class="deal-tds"><%= d.forecasted_dl%></td>
                                                <td class="deal-tds"><%= d.dl %></td>
                                                <td class="deal-tds"><%= d.cost %></td>
                                                <td class="deal-tds">承認済み</td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if @deals_canceled.present? %>
                                    <% @deals_canceled.each do |d|%>
                                        <% if not d.status == "denied" %>
                                            <tr class="deal-tr">
                                                <td class="deal-tds"><%= d.name %></td>
                                                <td class="deal-tds"><%= Program.find_by(host_id: d.podcaster_id).name %></td>
                                                <td class="deal-tds"><%= d.forecasted_dl%></td>
                                                <td class="deal-tds"><%= d.dl %></td>
                                                <td class="deal-tds"><%= d.cost %></td>
                                                <td class="deal-tds">キャンセル済み</td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                    </table>
                </div>
            </div>
        <% end %>
        
        <% if @current_user_pod %>
            <div class="content-container content-program">
                <h2>番組情報</h2>
                <div class="content-wrapper">
                    <div class="form-body profile-form-body">
                        <% if @program.present? %>
                            <div class="form-items program-form-items">
                                <%= form_for(@program, url: {controller: 'home', action: 'edit_program_info'}, html: {method: "post"}, class:"edit") do |f| %>
                                        <div class="program-info-wrapper">
                                            <h3>基本情報</h3>
                                            <div class="form-pic-wrapper">
                                                <% if @program.prof_file %>
                                                    <%= image_tag @program.prof_file, :class => "prof-image"%>
                                                <% else %>
                                                    <%= f.label :prof_file, "番組の画像" , :class => "form-item" %>
                                                    <%= f.file_field :prof_file, :class => "form-text-area form-item" %>
                                                <% end %>
                                            </div>
                                            <input name=<%= @program.id %> style="display:none">
                                            <div class="form-name-wrapper form-container form-program-container">
                                                <%= f.label :name, "番組名" , :class => "form-item" %>
                                                <%= f.text_field :name, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-genre-wrapper form-container form-program-container">
                                                <%= f.label :genre, "ジャンル" , :class => "form-item" %>
                                                <%= f.text_field :genre, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-genre-wrapper form-container form-program-container">
                                                <%= f.label :description, "番組の説明" , :class => "form-item" %>
                                                <%= f.text_area :description, :class => "form-text-area form-item program-text-area"  %>
                                            </div>
                                            <div class="form-dl-wrapper form-container form-program-container">
                                                <%= f.label :dl, "平均ダウンロード数" , :class => "form-item" %>
                                                <%= f.text_field :dl, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-len-wrapper form-container form-program-container">
                                                <%= f.label :ave_len, "エピソードの長さ(平均)" , :class => "form-item" %>
                                                <%= f.text_field :ave_len, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-freq-wrapper form-container form-program-container">
                                                <%= f.label :frequency, "放送の頻度" , :class => "form-item" %>
                                                <%= f.text_field :frequency, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-hosting-wrapper form-container form-program-container">
                                                <%= f.label :hosting, "ご利用中のホスティング" , :class => "form-item" %>
                                                <%= f.text_field :hosting, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-date-wrapper form-container form-program-container">
                                                <%= f.label :start_date, "番組開始日" , :class => "form-item" %>
                                                <%= f.text_field :start_date, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-program_url-wrapper form-container form-program-container">
                                                <%= f.label :program_url, "番組のURL" , :class => "form-item" %>
                                                <%= f.text_field :program_url, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-hp_url-wrapper form-container form-program-container">
                                                <%= f.label :hp_url, "HPのURL" , :class => "form-item" %>
                                                <%= f.text_field :hp_url, :class => "form-text-area form-item" %>
                                            </div>
                                        </div>
        
                                        <div class="cpm-wrapper">
                                            <h3>CPM</h3>
                                            <table class="cpm-table">
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">30秒 Pre-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_30_pre, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">60秒 Pre-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_60_pre, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">30秒 Mid-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_30_mid, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">60秒 Mid-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_60_mid, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">30秒 Post-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_30_post, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">60秒 Post-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_60_post, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                
                                            </table>
                                        </div>
                                        
                                        
                                        <div class="form-btn-wrapper pro-form-btn-wrapper">
                                            <ul class="form-btn-ul">
                                                <li><%= link_to "削除する", delete_program_path(:id => @program.id), :id => @program.id ,method: :delete, data: {confirm: "削除をするとこの番組のデータ、番組のエピソードに関するデータは完全に消えてしまいます。本当に削除しますか？"}, :class => "delete-btn form-submit-item"  %></li>
                                                <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                            </ul>
                                        </div>
                                <% end %>
                            </div>
                            <div class="dl-confirmation-wrapper">
                                <% if @program.dlfile.present? %>
                                    <h3>DL確認<span class="dl-reconfirm">ファイルは既にアップロードされています</span></h3>
                                    <div class=" dl-file-action" style="margin-left:2em"><a>DL数が変化したのでファイルを再アップロードする</a></div>
                                <% else %>
                                    <h3>DL確認</h3>
                                    <%= form_for(@program, url: {controller: 'home', action: 'file_upload'}, html: {method: "post"}) do |f| %>
                                        <%= f.file_field :dlfile, :class => 'form-control' %>
                                        <%= f.submit "送信", :class => "form-btn btn form-submit-item" %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="dl-file-modal">
                            <div class="dl-file-modal-bg"></div>
                            <div class="dl-file-content">
                                <div>
                                    <%= form_for(@program, url: {controller: 'home', action: 'file_upload'}, html: {method: "post"}) do |f| %>
                                        <div class="form-items">
                                            <div class="dl-form-container">
                                                <%= f.file_field :dlfile, :class => "form-text-area form-item form-dl-text-area" %>
                                            </div>
                                            <div class="form-btn-wrapper">
                                                <ul class="form-btn-ul">
                                                    <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                                </ul>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                                <div id="dl-modal-close">閉じる</div>
                            </div>
                        </div>
                            
                        <% else %>
                        
                            <%= form_for(@program_new, url: {controller: 'podcaster', action: 'add_program'}, html: {method: "post"}) do |f| %>
                                    <div class="form-items">
                                        
                                        <div class="program-info-wrapper">
                                            <h3>基本情報</h3>
                                            <div class="form-pic-wrapper">
                                                <% if @program_new.prof_file %>
                                                    <%= image_tag @program_new.prof_file, :class => "prof-image"%>
                                                <% else %>
                                                    <%= f.label :prof_file, "番組の画像" , :class => "form-item" %>
                                                    <%= f.file_field :prof_file, :class => "form-text-area form-item" %>
                                                <% end %>
                                            </div>
                                            <div class="form-name-wrapper form-container">
                                                <%= f.label :name, "番組名" , :class => "form-item" %>
                                                <%= f.text_field :name, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-genre-wrapper form-container">
                                                <%= f.label :genre, "ジャンル" , :class => "form-item" %>
                                                <%= f.text_field :genre, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-dl-wrapper form-container">
                                                <%= f.label :dl, "平均ダウンロード数" , :class => "form-item" %>
                                                <%= f.text_field :dl, :class => "form-text-area form-item" %>
                                            </div>
                                            
                                            <div class="form-hosting-wrapper form-container">
                                                <%= f.label :hosting, "ご利用中のホスティング" , :class => "form-item" %>
                                                <%= f.text_field :hosting, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-date-wrapper form-container">
                                                <%= f.label :start_date, "番組開始日" , :class => "form-item" %>
                                                <%= f.text_field :start_date, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-program_url-wrapper form-container">
                                                <%= f.label :program_url, "番組のURL" , :class => "form-item" %>
                                                <%= f.text_field :program_url, :class => "form-text-area form-item" %>
                                            </div>
                                            <div class="form-hp_url-wrapper form-container">
                                                <%= f.label :hp_url, "HPのURL" , :class => "form-item" %>
                                                <%= f.text_field :hp_url, :class => "form-text-area form-item" %>
                                            </div>
                                        </div>
        
                                        <div class="cpm-wrapper">
                                            <h3>CPM</h3>
                                            <table class="cpm-table">
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">30秒 Pre-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_30_pre, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">60秒 Pre-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_60_pre, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">30秒 Mid-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_30_mid, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">30秒 Mid-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_60_mid, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">30秒 Post-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_30_post, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td-description">60秒 Post-roll</td>
                                                    <td class="cpm-td-num">
                                                        <%= f.text_field :cpm_60_post, :class => "form-text-area form-item" %>
                                                    </td>
                                                </tr>
                                                
                                                
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                
                                                <tr class="cpm-tr">
                                                    <td class="cpm-td"></td>
                                                </tr>
                                                
                                            </table>
                                        </div>
                                        
                                        
                                        <div class="form-btn-wrapper pro-form-btn-wrapper">
                                            <ul class="form-btn-ul">
                                                <li><%= f.submit "保存", :class => "form-btn btn form-submit-item" %></li>
                                            </ul>
                                        </div>
                                    </div>
                                <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <div class="content-container content-ep-schedule">
                <h2>番組スケジュール管理</h2>
                <p class="smartphone-not-ready">現在スマートフォン対応が出来ていません。お手数ですがパソコンでアクセスし直してください。</p>   
                <div class="content-wrapper content-schedule-wrapper">
                   <% if @program.present? %>
                        <% if @episodes.present? %>
                            <div class="episode-schedule-wrapper">
                                <table class="episode-schedule-table">
                                    <tr class="ep-table-titles">
                                        <td class="date-td">日程</td>
                                        <td class="title-td">タイトル</td>
                                        <td class="num-td">pre-roll 30</td>
                                        <td class="num-td">pre-roll 60</td>
                                        <td class="num-td">mid-roll 30</td>
                                        <td class="num-td">mid-roll 60</td>
                                        <td class="num-td">post-roll 30</td>
                                        <td class="num-td">post-roll 60</td>
                                        <td class="num-td" style="background:white"></td>
                                    </tr>
                                    <% @episodes.each do |ep|%>
                                        <tr class="ep-table-items">
                                            <td class="ep-id"style="display:none"><%= ep.id %></td>
                                            <td class="ep-date date-td"><%= ep.date %></td>
                                            <td class="ep-title title-td"><%= ep.name %></td>
                                            <td class="ep-pre num-td num-td-val"><%= ep.pre_roll_30 %></td>
                                            <td class="ep-pre num-td num-td-val"><%= ep.pre_roll_60 %></td>
                                            <td class="ep-mid num-td num-td-val"><%= ep.mid_roll_30 %></td>
                                            <td class="ep-mid num-td num-td-val"><%= ep.mid_roll_60 %></td>
                                            <td class="ep-post num-td num-td-val"><%= ep.post_roll_30 %></td>
                                            <td class="ep-post num-td num-td-val"><%= ep.post_roll_60 %></td>
                                            <td class="edit-episode "><span>編集する</span></td>
                                        </tr>
                                    <% end %>
                                </table>
                                <div id="ep-add-new">エピソードを追加</div>
                            </div>
                            
                        <% else %>
                            <div class="episode-schedule-wrapper">
                                <table class="episode-schedule-table">
                                    <tr class="ep-table-titles">
                                        <td class="date-td">日程</td>
                                        <td class="title-td">タイトル</td>
                                        <td class="num-td">pre-roll 30</td>
                                        <td class="num-td">pre-roll 60</td>
                                        <td class="num-td">mid-roll 30</td>
                                        <td class="num-td">mid-roll 60</td>
                                        <td class="num-td">post-roll 30</td>
                                        <td class="num-td">post-roll 60</td>
                                    </tr>
                                </table>
                                <div id="ep-add-new">エピソードを追加</div>
                            </div>
                        <% end %>
                    <% else %>
                        <div>番組情報欄にて番組情報をご登録いただいた後にエピソードの追加ができます</div>
                    <% end %>
                    
                    
                </div>
                
                <div class="ep-edit-modal">
                    <div class="ep-edit-modal-bg"></div>
                    <div class="ep-edit-content">
                        <div class="edit-modal-table">
                            
                            <div class="ep-add-area">
                                <%= form_for(@episode, url: {controller: 'home', action: 'add_episode'}, html: {method: "post"}) do |f| %>
                                    <div class="long-field">
                                        <%= f.label :date, "日時" , :class => "" %>
                                        <%= f.text_field :date, :class => "ep-form-text-area ep-date-area" %>
                                    </div>
                                    <div class="long-field">
                                        <%= f.label :name, "タイトル" , :class => "" %>
                                        <%= f.text_field :name, :class => "ep-form-text-area ep-title-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :pre_roll_30, "pre-roll 30" , :class => "" %>
                                        <%= f.text_field :pre_roll_30, :class => "ep-form-text-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :pre_roll_60, "pre-roll 60" , :class => "" %>
                                        <%= f.text_field :pre_roll_60, :class => "ep-form-text-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :mid_roll, "mid-roll 30" , :class => "" %>
                                        <%= f.text_field :mid_roll_30, :class => "ep-form-text-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :mid_roll, "mid-roll 60" , :class => "" %>
                                        <%= f.text_field :mid_roll_60, :class => "ep-form-text-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :post_roll_30, "post-roll 30" , :class => "" %>
                                        <%= f.text_field :post_roll_30, :class => "ep-form-text-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :post_roll_60, "post-roll 60" , :class => "" %>
                                        <%= f.text_field :post_roll_60, :class => "ep-form-text-area" %>
                                    </div>
                                    <div>
                                        <%= f.submit "保存", :class => "form-btn btn form-submit-item ep-edit-submit" %>
                                    </div>
                                <% end %>
                            </div>
                            
                            <div class="ep-edit-area">
                                <div class="ep-edit-warning">進行中のキャンペーンがあり既に売り出している広告枠がある場合、設定する広告枠の数にご注意ください</div>
                                <%= form_for(@episode, url: {controller: 'home', action: 'edit_episode'}, html: {method: "post"}) do |f| %>
                                    <input name="id" class="ep-id-edit" style="display:none"></input>
                                    <div class="long-field">
                                        <%= f.label :date, "日時" , :class => "" %>
                                        <%= f.text_field :date, :class => "ep-form-text-area edit-ep-date-area"%>
                                    </div>
                                    <div class="long-field">
                                        <%= f.label :name, "タイトル" , :class => "" %>
                                        <%= f.text_field :name, :class => "ep-form-text-area edit-ep-title-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :pre_roll_30, "pre-roll 30" , :class => "" %>
                                        <%= f.text_field :pre_roll_30, :class => "ep-form-text-area edit-ep-pre-num-area ep-num-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :pre_roll_60, "pre-roll 60" , :class => "" %>
                                        <%= f.text_field :pre_roll_60, :class => "ep-form-text-area edit-ep-pre-num-area ep-num-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :mid_roll_30, "mid-roll 30" , :class => "" %>
                                        <%= f.text_field :mid_roll_30, :class => "ep-form-text-area edit-ep-mid-num-area ep-num-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :mid_roll_60, "mid-roll 60" , :class => "" %>
                                        <%= f.text_field :mid_roll_60, :class => "ep-form-text-area edit-ep-mid-num-area ep-num-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :post_roll_30, "post-roll 30" , :class => "" %>
                                        <%= f.text_field :post_roll_30, :class => "ep-form-text-area edit-ep-post-num-area ep-num-area" %>
                                    </div>
                                    <div class="short-field">
                                        <%= f.label :post_roll_60, "post-roll 60" , :class => "" %>
                                        <%= f.text_field :post_roll_60, :class => "ep-form-text-area edit-ep-post-num-area ep-num-area" %>
                                    </div>
                                    <div>
                                        <%= f.submit "保存", :class => "form-btn btn form-submit-item ep-edit-submit" %>
                                        <%= link_to "削除する", "/delete_episode", method: :delete, data: {confirm: "削除します。よろしいですか？"},
                                        :class => "delete-btn form-submit-item ep-edit-delete ep-id-edit" %>
                                    </div>
                                <% end %>
                            </div>
                            
                        </div>
                        <div id="modal-close">閉じる</div>
                    </div>
                </div>
                
            </div>
        
        
        <% end %>

        
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li class="smartphone-hidden">
                        <%= link_to '運営会社', 'http://locura.biz', target: "blank" %>
                    </li>
                    <li>
                        <%= link_to 'プライバシーポリシー', '/privacy_policy' %>
                    </li>
                    <li>
                        <%= link_to '利用規約', '/terms_of_use' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '番組主', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
        
    </footer>

</main>