<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                効果の高い音声広告で<br>
                今までにない成果を出しましょう
            </h1>
        </div>
        
        <div class="animation ad-animation-item1">
            <%= image_tag 'mic_icon.png'%>
        </div>
        <div class="animation2 ad-animation-item2" id="animation">
            <%= image_tag 'back_headphones.png'%>
        </div>
        <div class="animation2 ad-animation-item3" id="animation">
            <%= image_tag 'back_speaker.png'%>
        </div>
        <div class="animation ad-animation-item4" id="animation">
            <%= image_tag 'back_podcast.png'%>
        </div>
        <div class="animation3 ad-animation-item5" id="animation">
            <%= image_tag 'back_tv.png'%>
        </div>
        <div class="animation ad-animation-item6" id="animation">
            <%= image_tag 'back_dj.png'%>
        </div>
    </section>
    
    <section class="middle2-wrapper ad-middle-w">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです。</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>貴社の情報、ご興味のある分野等の情報をお教えください</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>弊社の営業チームが<br>効果の高い番組主様をご紹介します</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>条件が合致し<br>広告の再生が確認され取引の終了となります</p>

            </div>
        </div>
        
    </section>
    
    <section class="middle2-wrapper ad-middle-w">
        <h2>Podcast広告の効果</h2>
        <p>他の広告枠にない音声広告ならではの強みがあります</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_graph.png', style:"height:80px;width:80px" %>
                </div>
                <p>Podcastなどの音声メディアは<br>高学歴、高所得層の広告効果の高い層に楽しまれています</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_headphone.png', style:"height:75px;width:75px" %>
                </div>
                <p>高いエンゲージメント<br>番組主様が宣伝内容を読むことで、ユーザーの体験を阻害しません</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'graph_scale.png', style:"height:80px;width:80px"%>
                </div>
                <p>お得な広告単価<br>まだ成熟しきっていない音声広告だからこそ、お得な単価で広告を出稿できます</p>

            </div>
        </div>
        
    </section>
    
    <% if @current_user_ad %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', 'advertiser-register', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% elsif @current_user_pod %>
        <section class="cta-wrapper hidden">
            <div class="cta-container">
                <%= button_to '開始する', 'podcaster/new', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% else %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', 'advertiser/new', :class => "cta-button info-button btn", :method => 'get' %>
            </div>
        </section>
    <% end %>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li class="smartphone-hidden">
                        <%= link_to '運営会社', 'http://locura.biz', target: "blank" %>
                    </li>
                    <li>
                        <%= link_to 'プライバシーポリシー', '/privacy_policy' %>
                    </li>
                    <li>
                        <%= link_to '利用規約', '/terms_of_use' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '番組主', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>