<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                広告効果の高い<br>
                音声広告で効果を出しましょう
            </h1>
        </div>
    </section>
    
    <section class="middle2-wrapper ad-middle-w">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです。</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>貴社の情報、ご興味のある分野等の情報をお教えください</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>弊社の案件チームが<br>効果の高い番組主様をご紹介します</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>条件が合致し<br>広告の再生が確認され取引の終了となります</p>

            </div>
        </div>
        
    </section>
    
    <section class="middle2-wrapper ad-middle-w">
        <h2>Podcast広告の効果</h2>
        <p>他の広告枠には無いPodcastをはじめとした音声広告特有の広告効果</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_graph.png', style:"height:80px;width:80px" %>
                </div>
                <p>Podcastなどの音声メディア<br>は高学歴、高所得層の広告効果の高い層に楽しまれています</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_headphone.png', style:"height:75px;width:75px" %>
                </div>
                <p>高いエンゲージメント<br>番組内に広告を挿入しますので、広告のスキップやブロックがされません</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'graph_scale.png', style:"height:80px;width:80px"%>
                </div>
                <p>お得な広告単価<br>まだ成熟しきっていない音声広告だからこそ、お得な単価で広告を出稿できます</p>

            </div>
        </div>
        
    </section>
    
    <% if @current_user_ad %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', 'advertiser-register', :class => "cta-button info-button", :method => 'get' %>
            </div>
        </section>
    <% elsif @current_user_pod %>
        <section class="cta-wrapper hidden">
            <div class="cta-container">
                <%= button_to '開始する', 'podcaster/new', :class => "cta-button info-button", :method => 'get' %>
            </div>
        </section>
    <% else %>
        <section class="cta-wrapper">
            <div class="cta-container">
                <%= button_to '開始する', 'advertiser/new', :class => "cta-button info-button", :method => 'get' %>
            </div>
        </section>
    <% end %>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>