<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                GREAT PODCASTERS,<br>
                MEET GREAT ADVERTISERS
            </h1>
        </div>
    </section>
    
    <section class="middle2-wrapper ad-middle-w">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです。</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
    </section>
    
    <section class="middle2-wrapper ad-middle-w">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです。</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
    </section>
    

    <section class="cta-wrapper">
        <div class="cta-container">
            <%= button_to '開始する', 'advertiser/new', :class => "cta-button info-button", :method => 'get' %>
        </div>
        
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>