<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                効果の高い音声広告を
            </h1>
        </div>
        <div class="animation" style="bottom:36%;right:14%">
            <%= image_tag 'mic_icon.png'%>
        </div>
        <div class="animation2" style="top:10%;right:22%">
            <%= image_tag 'back_headphones.png'%>
        </div>
        <div class="animation2" style="top:16%;left:12%">
            <%= image_tag 'back_speaker.png'%>
        </div>
        <div class="animation" style="top:30%;left:29%">
            <%= image_tag 'back_podcast.png'%>
        </div>
        <div class="animation3" style="top:50%;right:29%">
            <%= image_tag 'back_tv.png'%>
        </div>
        <div class="animation" style="top:50%;right:50%">
            <%= image_tag 'back_dj.png'%>
        </div>
    </section>
    
    <section class="contact-wrapper">
        <div class="contact-container">
            <h2 class="contact-title">広告キャンペーンを開始する</h2>
            <p>内容をお送りいただいた後、営業チームよりご連絡<br>を差し上げます。その後条件等の交渉に入り、正式に案件が組成されます</p>
            <div class="contact-form-wrapper">
                <div class="contact-form-wrapper">
                    <% if @deal_request.errors.any? %>
                        <div class="error-message-wrapper">
                            <div class="error-title">エラー</div>
                            <ul class="error-message-ul">
                                <% if @deal_request.errors.any? %>
                                    <% @deal_request.errors.full_messages.each do |msg| %>
                                        <li>
                                            <%= msg %>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                <div class="form-body">
                    <%= form_for(@deal_request,  url: {controller: 'advertiser', action: 'deal_request'}, html: {method: "post"}) do |f|  %>
                        <div class="form-items deal-request-form-items">
                            <div class="form-name-wrapper form-container">
                                <%= f.label :name, "お名前" , :class => "form-item" %>
                                <%= f.text_field :name, :class => "form-text-area deal-text form-item" %>
                            </div>
                            <div class="form-company-name-wrapper form-container">
                                <%= f.label :company_name, "会社名" , :class => "form-item" %>
                                <%= f.text_field :company_name, :class => "form-text-area deal-text form-item" %>
                            </div>
                            <div class="form-email-wrapper form-container">
                                <%= f.label :email, "メール" , :class => "form-item" %>
                                <%= f.text_field :email, :class => "form-text-area form-item deal-text" %>
                            </div>
                            <div class="form-industry-wrapper form-container">
                                <%= f.label :industry, "事業分野" , :class => "form-item" %>
                                <%= f.text_field :industry, :class => "form-text-area form-item deal-text" %>
                            </div>
                            <div class="form-schedule-wrapper form-container">
                                <%= f.label :campaign_schedule, "広告の開始予定時期" , :class => "form-item" %>
                                <%= f.text_field :campaign_schedule, :class => "form-text-area form-item deal-text" %>
                            </div>
                            <div class="form-memo-wrapper form-container">
                                <%= f.label :memo, "備考", :class => "form-item" %>
                                <%= f.text_area :memo, :class => "form-text-area form-item contact-form-content contact-form deal-text"  %>    
                            </div>
                            <div class="form-btn-wrapper">
                                <input type="submit" value="送信" class="form-btn btn"> 
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            </div>
        </div>
    </section>
    
 
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li class="smartphone-hidden">
                        <%= link_to '運営会社', 'http://locura.biz', target: "blank" %>
                    </li>
                    <li>
                        <%= link_to 'プライバシーポリシー', '/privacy_policy' %>
                    </li>
                    <li >
                        <%= link_to '利用規約', '/terms_of_use' %>
                    </li>
                    <li>
                        <%= link_to 'お問い合わせ', '/contact' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li class="smartphone-hidden">
                        <%= link_to '番組主', '/advertisers' %>
                    </li>
                </ul>
                <span class="copyright">© 2019 locura.jp</span>
            </div>
            
        </div>
        
    </footer>

</main>