<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                CONTACT OUR SALES TEAM
            </h1>
        </div>
    </section>
    
    <section class="contact-wrapper">
        <div class="contact-container">
            <h2 class="contact-title">広告キャンペーンを開始する</h2>
            <p>内容をお送りいただいた後、案件組成チームよりご連絡<br>を差し上げます。その後条件等の交渉に入り、正式に案件が組成されます</p>
            <div class="contact-form-wrapper">
                <div class="contact-form-wrapper">
                    <% if @error_message %>
                        <%= @error_message %>
                    <% end %>
                <div class="form-body">
                    <%= form_tag("/advertiser",  method: :post) do %>
                        <div class="form-items">
                            <div class="form-name-wrapper form-container">
                                <label for="name" accesskey="n" class="form-item">お名前</label>
                                <input name="name" value="<%= @advertiser.name %>" id="name" class="form-text-area form-item">
                            </div>
                            <div class="form-podcast-name-wrapper form-container">
                                <label for="podcast_name" accesskey="n" class="form-item">番組</label>
                                <input name="podcast_name" value="<%= @advertiser.company_name %>" id="podcast_name" class="form-text-area form-item">
                            </div>
                            <div class="form-email-wrapper form-container">
                                <label for="email" accesskey="n" class="form-item">メール</label>
                                <input name="email" value="<%= @advertiser.email %>" id="email" class="form-text-area form-item">
                            </div>
                            <div class="form-genre-wrapper form-container">
                                <label for="genre" accesskey="n" class="form-item">分野</label>
                                <input name="genre" value="<%= @advertiser.industry %>" id="genre" class="form-text-area form-item">
                            </div>
                            <div class="form-btn-wrapper">
                                <input type="submit" value="送信" class="form-btn btn"> 
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            </div>
        </div>
    </section>
    
 
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to 'お問い合わせ', '/' %>
                    </li>
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/advertisers' %>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>