<!DOCTYPE html>
<html>
  <head>
    <title>Locura</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        
        <% if @current_user_ad or @current_user_pod %>
          <ul class="header-ul">
              <li><%= link_to 'ログアウト', '/logout' %></li>
              <li><%= link_to 'マイアカウント', '/myaccount' %></li>
          </ul>
        <% else %>
          <ul class="header-ul">
            <li><%= link_to '広告主', '/advertisers' %></li>
            <li><%= link_to '番組ホスト', '/podcasters' %></li>
            <li><%= link_to '登録・ログイン', '/login' %></li>
          </ul>
        <% end %>
        
        <div class="site-title-wrapper">
          <%= link_to 'LOCURA','/', :class => 'site-title'  %>
        </div>
        
      </div>
      
    </header>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <script src="app.js"></script>
    <script src="myaccount.js"></script>

    <%= yield %>
  </body>
</html>
