<!DOCTYPE html>
<html>
  <head>
    <title>Locura</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        
        <ul class="header-ul">
          <li><%= link_to '広告主', '/advertisers' %></li>
          <li><%= link_to '番組ホスト', '/podcasters' %></li>
          <li><%= link_to '登録・ログイン', '/login' %></li>
          <li><%= link_to 'マイアカウント', '/myaccount' %></li>
        </ul>
        
        <div class="site-title-wrapper">
          <%= link_to 'LOCURA','/', :class => 'site-title'  %>
        </div>
        
      </div>
      
    </header>
    
    
    <%= yield %>
  </body>
</html>
